@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Host Grotesk";
}

img {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 450;
  text-decoration: none !important;

}

nav{
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hero-footer {
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-items {
  display: flex;
  gap: 4rem;
}

.footer-link a{
  text-decoration: none !important ;
  color: #fff;
}
.footer-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.footer-link a:hover::after {
  width: 100%;
}

nav .logo p {
  font-weight: 700;
}

.hero-footer {
  bottom: 0;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -100%);
  width: 100%;
}
.header-line{
  font-size: 5rem;
  font-weight: 500;
}

@media (max-width: 720px) {
  nav {
    flex-direction: column;
    gap: 2rem;
  }
  .hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}
.main-logo{
  width: 160px;
  height: auto;
}



/* 
wewewe
wewew */

  .header-line{
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}
.nav-items{
  display: none;
}
}
